<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="es.udc.cartolab.gvsig.elle"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.eielvalidation.EIELValidationExtension" description="Validar" active="true">
			<menu text="EIEL/Validar"
				action-command="Validar"
				icon="" position="1601"/> 
		</extension>
	</extensions>
</plugin-config>
